@using BlazeJump.Common.Enums;
@using BlazeJump.Common.Models;
@using BlazeJump.Common.Services.Message;
@using BlazeJump.Common.Services.Crypto;
@using BlazeJump.Helpers;
@using Newtonsoft.Json;
@inject IMessageService MessageService
@inject NavigationManager NavManager

@if (NEvent != null)
{
	<section>
		<article class="card card-message">
			<div class="profile-picture" style="background-image: url('@($"{User?.ProfilePic ?? $"/images/profilepics/{new Random().Next(1, 18)}.png"}")')">
			</div>
			<div class="card-body">
				<h3>
					<a @onclick=ViewUser style="cursor: pointer">@(User?.Username ?? $"{User?.Id?.Substring(0, 10)}...")</a>
				</h3>
				<p class="subtle-info-line">
					@(TimeAgo.GetTimeAgo(NEvent.CreatedAtDateTime))
				</p>
				<p>Tagged root: @(TaggedRoot?.FirstOrDefault()?.Id ?? "none")</p>
				<p>Tagged reply: @(TaggedReply?.FirstOrDefault()?.Id ?? "none")</p>
				@ParseEmbeds.ParsePreviewContent(NEvent?.Content).FirstOrDefault()
				<p>@(NEvent?.Content.ParseInlineEmbeds() ?? (MarkupString)"(No content)")</p>
				<p class="stats-line">
					<a @onclick=ViewMessage style="cursor: pointer">@(Children?.Count ?? 0) comments</a> |
					@if (NEvent?.Verified ?? false)
					{
						<span>Verified</span>
					}
					else
					{
						<a @onclick="() => VerifyMessage(NEvent)" style="cursor: pointer">Verify</a>
					}
				</p>
			</div>
		</article>
	</section>
}


