@using BlazeJump.Common.Enums;
@using BlazeJump.Common.Models;
@using BlazeJump.Common.Services.Message;
@using BlazeJump.Common.Services.Crypto;
@using BlazeJump.Helpers;
@inject IMessageService MessageService
@inject NavigationManager NavManager

<section>
	<article class="card card-message">
		<div class="profile-picture">
			<img src="@($"{Message.User?.ProfilePic ?? $"/_content/BlazeJump.Common/images/profilepics/{new Random().Next(1, 18)}.png"}")" alt="profile picture">
		</div>
		<div class="card-body">
			<h3>
				<a href="user/@(Message.User?.Id)">@(Message.User?.Username ?? $"{Message.User?.Id.Substring(0, 10)}...")</a>
			</h3>
			<p class="subtle-info-line">
				@(TimeAgo.GetTimeAgo(Message.CreatedAtDateTime))
			</p>
			@ParseEmbeds.ParseEmbedsFromContent(Message.Content).FirstOrDefault()
			<p>@(Message.Content ?? "(No content)")</p>
			<p class="stats-line">
				<a @onclick=ViewMessage style="cursor: pointer">@Message.ReplyCount comments</a> |
				@if (Message.Verified)
				{
					<span>Verified</span>
				}
				else
				{
					<a @onclick="() => VerifyMessage(Message)" style="cursor: pointer">Verify</a>
				}
			</p>
		</div>
	</article>
</section>

@foreach (var child in Message.ChildNEvents)
{
	<MessageCard Message=child></MessageCard>
}

@code {
	[Parameter]
	public NEvent Message { get; set; }

	public async Task ViewMessage()
	{
		NavManager.NavigateTo($"event/{Message.Id}");
	}
	public void VerifyMessage(NEvent message)
	{
		message.Verified = MessageService.VerifyNEvent(Message);
		StateHasChanged();
	}
}